<%= form_with model: job do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :description%>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :salary%>
    <%= f.text_field :salary %>
  </div>
  <div>
    <%= f.label :level %>
    <%= f.text_field :level %>
  </div>
  <div>
    <%= f.label :requirements%>
    <%= f.text_field :requirements %>
  </div>
  <div>
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date %>
  </div>
  <div>
    <%= f.label :qty_candidates %>
    <%= f.text_field :qty_candidates %>
  </div>
  <div>
    <%= f.label :active, "Status da vaga" %>
    <%= f.radio_button :active, true %>
    <%= f.label :active_true, "Ativa" %>
    <%= f.radio_button :active, false %>
    <%= f.label :active_false, "Inativa" %>
  </div>
  <%= f.submit "Salvar" %>
<% end %>