
<h1><%= @jobs.name %></h1>
<dl>
  <dt>Descrição: </dt>
  <dd> <%= @jobs.description %> </dd>
  <dt>Salário: </dt>
  <dd> <%= @jobs.salary %> </dd>
  <dt>Nível: </dt>
  <dd> <%= @jobs.level %> </dd>
  <dt>Requisitos: </dt>
  <dd> <%= @jobs.requirements %> </dd>
  <dt>Valida até: </dt>
  <dd> <%= I18n.localize(@jobs.expiration_date) %> </dd>
  <dt>Vagas Disponíveis: </dt>
  <dd> <%= @jobs.qty_candidates %> </dd>
  <dt>Status da Vaga </dt>
  <dd> <%= @jobs.active_or_inactive(@jobs.active) %> </dd>
</dl>

<%if current_user && !current_user.candidate?%>
  <%= link_to 'Editar', edit_job_path(@jobs)%>
  <%= link_to 'Alterar Status da Vaga', status_job_path(@jobs), method: :patch %>
  <%= link_to "Excluir Vaga", job_path(@jobs), method: :delete, data: { confirm: "Deseja excluir a vaga?" } %>
<%end%>
<%unless @job_applied%>
  <%= link_to "Candidatar-se a Vaga", job_applications_path(job: @jobs), method: :post%>
<%end%>
<%= link_to "Voltar Para a página Inicial", root_path %>