
<h1><%= @job.name %></h1>
<dl>
  <dt>Descrição: </dt>
  <dd> <%= @job.description %> </dd>
  <dt>Salário: </dt>
  <dd> <%= @job.salary %> </dd>
  <dt>Nível: </dt>
  <dd> <%= @job.level %> </dd>
  <dt>Requisitos: </dt>
  <dd> <%= @job.requirements %> </dd>
  <dt>Valida até: </dt>
  <dd> <%= I18n.localize(@job.expiration_date) %> </dd>
  <dt>Vagas Disponíveis: </dt>
  <dd> <%= @job.qty_candidates %> </dd>
  <dt>Status da Vaga </dt>
  <dd> <%= @job.active_or_inactive(@job.active) %> </dd>
</dl>

<%if current_user && !current_user.candidate?%>
  <%= link_to 'Editar', edit_job_path(@job)%>
  <%= link_to 'Alterar Status da Vaga', status_job_path(@job), method: :patch %>
  <%= link_to "Excluir Vaga", job_path(@job), method: :delete, data: { confirm: "Deseja excluir a vaga?" } %>
  <%= link_to "Ver Todas as Candidaturas dessa Vaga", job_all_applications_path(@job)%>
<%end%>
<%unless @job_applied%>
  <%= link_to "Candidatar-se a Vaga", job_applications_path(job: @job), method: :post%>
<%end%>
<%= link_to "Voltar Para a página Inicial", root_path %>