<h1> Jobs Magazine </h1>
<h3> Bem vindo ao Jobs Magazine</h3>
<%= link_to "Ver Vagas de Emprego", jobs_path%>
<%= link_to "Ver Empresas", companies_path%>
<%= link_to "Nova Vaga de Emprego", new_job_path%>
<%= link_to "Minhas Candidaturas", job_applications_path%>
<%= link_to "Minhas Propostas de Emprego", job_applications_path%>

