<%= form_with url: search_company_path, method: :get do %>
    <%= label_tag :q, 'Busca:' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Pesquisar' %>
  <% end %>
<h1>Todas as Empresas Cadastradas</h1>

<% if @companies.empty? %>
  <p><%= "Nenhuma Empresa cadastrada" %> </p>
<% else %>
  <dl>
  <% @companies.each do |company| %>
    <dt>Nome: </dt>
    <dd> <%= link_to company.name, company_path(company.id) %> </dd>
    <dt>Endereço: </dt>
    <dd> <%= company.address %> </dd>
    <dt>Site: </dt>
    <dd> <%= company.website %> </dd>
  <% end %>
  </dl>
<% end %>
<%= link_to "Voltar Para a página Inicial", root_path %>